@use "../abstract/index" as *;

nav {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 3;
    opacity: 90%;
    padding: 1.5rem 2.5rem;
    // font-size: 1em;
    background-color: $color-navbar;

    display: flex;
    justify-content: flex-end;
    #nav-link {
        display: flex;
        // justify-content: space-around;
        width: max-content;
        li {
            list-style: none;
            // float: left;
            padding-left: 1rem;
            padding-right: 1rem;
            color: $color-white;
            font-weight: $font-bold;
            font-size: $font-size-header;
            &:hover {
                cursor: pointer;
            }
        }
    }
}