@use "../abstract/index" as *;

.worked-with {
    @include flex-center;
    background-color: $color-bg-experience;
    color: $color-white;
    border-top: 1px solid $color-white;
    flex-direction: column;
    padding: 0 $padding-sides 2.5rem $padding-sides;
    .previous-company {
        @include flex-center;
        justify-content: space-evenly;
        width: 100%;
        img {
            width: unset;
            height: 71px;
        }
    }
    
}