@use "../abstract/index" as *;

#landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // justify-content: space-between;
    top: 0;
    margin-top: 10rem;
    margin-bottom: 10rem;
    // margin-right: 10rem;
    // margin-left: 10rem;
    #picture {
        display: flex;
        img {
            width: 487px;
            height: 451px;
            // border-radius: 1100px;
            border-radius: 50%;
        }
    }
    #landing-heading{
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        div {
            font-size: 2.5rem;
            padding-top: 8px;
            padding-bottom: 10px;
            margin-left: 12px;
            &:first-child {
                color: $color-about-name;
                font-weight: $font-bold;
                // margin-top: 100px;
                // font-style: bold
                margin-left: 0px;
            }
            &:nth-child(2) {
                font-weight: $font-size-sub-sub-header;
                font-weight: $font-light;
            }
            &:last-child{
                font-weight: $font-light;
                font-style: italic;
                // font-family: 'Lucid Sans';
            }

        }
    }
}


